body{
    background-color: rgb(248, 250, 249);
}
#container{
    /* background-color: azure; */
    width: 900px;
    height: 700px;
    margin: 0 auto;
    height: fit-content;
}
#cv{
    font-size: 32px;
    font-family: "Brush Script MT";
    color: rgb(232, 83, 69);
    /* margin-left: 50px; */
    /* background-color: aliceblue; */
    width:fit-content;

} 
.header { 
     /* background: linear-gradient(to right, rgb(203, 211, 215),rgb(176, 121, 211));  */
     display: flex;
     /* background-color: aqua; */
     /* width: 550px; */
     margin-left: 190px;

}
.bio{
    color: rgb(32, 217, 221);
    margin-top: 20px;
    margin-left: 500px;
    /* background-color: rgb(57, 67, 53); */
    width: 530px;
    padding:5px;
    background-color: rgb(27, 27, 24);
    border-radius:3%;
    /* text-align: center; */
    /* align-items: center; */
}
#about{
    margin-top: 5px;
    color: rgb(225, 62, 81);
}
#sk-name{
    margin-top: 5px;
    color: rgb(225, 62, 81);
}
#education{
    margin-top: 5px;
    color: rgb(225, 62, 81);
}
#profile-pic{
    /* float: right; */
    margin-top: 10px;
    margin-left: 130px;
    height: 150px;
    border-radius: 50%;

}
/* p{
    color: rgb(218, 218, 107);
} */
#skills-container{
    display: flex;
    flex-wrap: wrap;
    
}
.skill{
       margin-left: 20px;
       font-weight: bold;
       border-radius:3%;
       color: rgb(15, 14, 14);
       background-color: rgb(243, 245, 243);
}
.skil{
    font-weight: bold;
    border-radius:3%;
    color: rgb(15, 14, 14);
    background-color: rgb(250, 253, 249);
}
#certification{
     margin-top: 30px;
     color: rgb(225, 62, 81);
}
#contact{
    color: rgb(225, 62, 81); ;
}
#social_media a{
    margin-left:35px;
    font-size: 20px;
}
[class="fa fa-facebook"]{
    color: rgb(53, 95, 193);
}
[class="fa fa-instagram"]{
     color: rgb(183, 91, 170);;
}
[class="fa fa-linkedin"]{
    color: rgb(96, 157, 207);
}
[class="fa fa-twitter"]{
    color: rgb(53, 95, 193);
}
